<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thêm</title>
</head>
<body>
<h1>Them tour</h1>
<form action="" method="post" th:object="${tour}">
    <h3>Ma tour</h3>
    <input type="text" th:field="*{code}" placeholder="Biển số">
    <span th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></span>
    <br>
    <h3>Diem den</h3>
    <input type="text" th:field="*{name}" placeholder="Diem den">
    <span th:if="${#fields.hasErrors('destination')}" th:errors="*{name}"></span>
    <br>

    <h3>Giá</h3>
    <input type="number" th:field="*{price}" placeholder="Gia ">
    <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
    <br>
    <h3>Loai tour</h3>
    <select th:field="*{type.id}">
        <option th:each="type : ${types}"
                th:value="${type.id}"
                th:text="${type.name}">
        </option>
    </select>
    <br>
    <button>Them</button>
</form>
<button><a href="/tours/">Home</a></button>
</body>
</html>